<div class="row mt-2 ml-2">
    <div class="col col-md-1 tab">
        <i class="fa fa-window-close fa-2x" style="float:right;" (click)="apaga();"></i>
        <button class="tablinks" (click)="openSolapa($event, 'optUno')">Solapa uno</button>
        <button class="tablinks" (click)="openSolapa($event, 'optDos')">Solapa dos</button>
        <button class="tablinks" (click)="openSolapa($event, 'optTres')">Solapa tres</button>

    </div>
    <div class="col col-md-11">
        <div id="optUno" class="tabcontent" style="position:absolute; left: -15px;">
            <h3>Solapa uno</h3>
            <p>Esta es la solapa uno.</p>
        </div>

        <div id="optDos" class="tabcontent" style="position:absolute; left: -15px;">
            <h3>Solapa dos</h3>
            <p>Esta es la solapa dos.</p>
        </div>

        <div id="optTres" class="tabcontent" style="position:absolute; left: -15px;">
            <h3>Solapa tres</h3>
            <p>Esta es la solapa tres.</p>
        </div>
    </div>
</div>