/* la solapa general, contenedora */

.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    /* background-color: #f1f1f1; */
}

li {
    list-style: none;
}


/* los botones que se usan para abrir el contenido de cada boton */

.tab button {
    background-color: inherit;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* El color de fondo de los botones en hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    float: left;
    display: none;
    padding: 6px 100px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #ccc;
    height: 15.1rem;
}